:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

main {
  padding: 16px;
}

.hero__actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

li {
}
